@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* navbar */
.nav-container {
    padding: 20px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-div-img {
    width: 62px;
    height: 62px;
}

.home-div-text {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-menu {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

#menu-1 {
    color: rgb(254, 163, 1);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-2 {
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-3 {
    color: rgb(5, 212, 223);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-4 {
    color: rgb(93, 88, 239);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    border-radius: 12px;
    padding: 16px 61.5px;
    background: rgb(254, 163, 1);
    color: white;
    border: none;
}

.nav-drawer-img {
    visibility: hidden;
}

/* banner */

.banner {
    padding: 0px 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-kids-img {
    width: 468.61px;
    height: 575px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-content-title {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-content-text {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

#empowering {
    color: rgb(254, 163, 1);
}

#students {
    color: rgb(17, 17, 17);
}

#towards {
    color: rgb(1, 172, 253);
}

.banner-content-btn {
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: white;
    width: 197px;
    height: 50px;
    border: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}









@media screen and (max-width: 576px) {
    .nav-container {
        padding: 12px 16px;
    }

    .home-div-img {
        width: 46px;
        height: 46px;
    }

    .home-div-text,
    .nav-menu,
    .nav-btn {
        display: none;
    }

    .nav-drawer-img {
        visibility: visible;
    }

    .nav-drawer-img {
        width: 22.5px;
        height: 15px;
    }

    .nav-underline {
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }

    .banner {
        padding: 0px 16px;
        flex-direction: column-reverse;
    }

    .hero-kids-img {
        width: 336.58px;
        height: 413px;
    }

    .banner-content {
        gap: 18px;
    }

    .banner-content-title,.banner-content-text {
        text-align: center;
    }

    .banner-content-btn{
        margin: 0px auto;
    }

}