@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* navbar */
.nav-container {
    padding: 20px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-div-img {
    width: 62px;
    height: 62px;
}

.home-div-text {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-menu {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

#menu-1 {
    color: rgb(254, 163, 1);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-2 {
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-3 {
    color: rgb(5, 212, 223);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#menu-4 {
    color: rgb(93, 88, 239);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    border-radius: 12px;
    padding: 16px 61.5px;
    background: rgb(254, 163, 1);
    color: white;
    border: none;
}

.nav-drawer-img {
    visibility: hidden;
}

/* banner */

.banner {
    padding: 0px 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-kids-img {
    width: 468.61px;
    height: 575px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-content-title {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-content-text {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

#empowering {
    color: rgb(254, 163, 1);
}

#students {
    color: rgb(17, 17, 17);
}

#towards {
    color: rgb(1, 172, 253);
}

.banner-content-btn {
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: white;
    width: 197px;
    height: 50px;
    border: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}

/* Standard curriculum */


main {
    background: url(../assets/bg.png);
}

.standard-curriculum {
    margin: 60px auto;
}

.standard-curriculum-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
}

.curriculum-card-container {
    display: flex;
    flex-direction: row;
    gap: 28.29px;
    padding: 80px 140px;
}

.curriculum-card-1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    padding: 60px 40px;
}

.curriculum-card-2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    padding: 60px 40px;
}

.curriculum-card-3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    padding: 60px 40px;
}

#read-more-1 {
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}

#read-more-2 {
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}

#read-more-3 {
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}

.curriculum-card-title {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
}

.curriculum-card-content {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 38px;
}

.curriculum-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.prev-next {
    display: flex;
    gap: 10px;
    justify-content: center;
}









@media screen and (max-width: 576px) {
    .nav-container {
        padding: 12px 16px;
    }

    .home-div-img {
        width: 46px;
        height: 46px;
    }

    .home-div-text,
    .nav-menu,
    .nav-btn,
    .prev-next {
        display: none;
    }

    .nav-drawer-img {
        visibility: visible;
    }

    .nav-drawer-img {
        width: 22.5px;
        height: 15px;
    }

    .nav-underline {
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }

    .banner {
        padding: 0px 16px;
        flex-direction: column-reverse;
    }

    .hero-kids-img {
        width: 336.58px;
        height: 413px;
    }

    .banner-content {
        gap: 18px;
    }

    .banner-content-title,
    .banner-content-text {
        text-align: center;
    }

    .banner-content-btn {
        margin: 0px auto;
    }

    .standard-curriculum-title {
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: center;
    }

    .curriculum-card-container {
        flex-direction: column;
        gap: 12.3px;
        padding: 20px 16.5px;
    }

}